html, body{
    font-family: 'Liberation Sans';
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    positioN: relative;
    margin: 0;
}

.navbar1{
    width: 50%;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar2{
    width: 50%;
    height: 60px;
    margin-left: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}



.navul{
    padding: 0;
    margin: 0;
    height: 80%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
}

.navul2{
    padding: 0;
    margin: 0;
    height: 80%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
}

.navli{
    display: flex;
}

#navlink1{
    height: 70%;
    width: auto;
    margin-left: 15px;
    justify-content: start;
    align-items: center;
}

#navlink2{
    height: 70%;
    width: auto;
    justify-content: start;
    align-items: center;
    margin-right: 50px;
}

#navlink3{
    height: 70%;
    width: auto;
    justify-content: start;
    align-items: center;
    margin-right: 50px;
}

#navlink4{
    height: 70%;
    width: auto;
    justify-content: start;
    align-items: center;
    margin-right: 30px;
}

#navlink5{
    height: 70%;
    width: 33.6px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

svg{    
    display: flex;
    justify-content: center;
    align-items: center;
}

#navlink5:hover{
    background-color: rgb(241, 241, 241);
    border-radius: 100%;
}

span
{
display: none;
} 

#navlink5:hover span{
    display: block;
    position:absolute;
    top:4em;
    left:66em;
    width:6em;
    background-color:rgb(32, 32, 29);
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 4px;
    font-size: 0.7em;
    border-radius: 5px;
}

#navlink6{
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    height: 60%;
    width: auto;
    justify-content: start;
    align-items: center;
    margin-right: 30px;
    background-color: rgb(43, 125, 233);
    border-radius: 4px;
}

#navlink6:hover{
    background-color: rgb(56, 140, 250);
    box-shadow: 0 0.5px 0.3em rgb(150, 187, 235);
}

.nava{
color: black;
text-decoration: none;
font-size: 0.8rem;
}

#nava1{
    margin-right: 50px;
}

#navabutton{
    color: white;
}

#logo{
    width: 100%;
    height: 25%;
    min-height: 180px;
    margin-top: 60px;
    display:flex;
    justify-content: center;
    align-items: end;
}

.searchsection{
    width: 100%;
    height: 18%;
    min-height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#searchdiv{
    width: 25%;
    min-width: 400px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    display:flex;
    justify-content: start;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
}

#searchdiv:hover{
    width: 25.1%;
    min-width: 400px;
    height: 41px;
    border-radius: 20px;
    display:flex;
    justify-content: start;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    box-shadow: 0.5px 0.5px 0.4em rgb(192, 192, 192);
}

#searchdiv:checked{
    width: 25.1%;
    min-width: 400px;
    height: 40.1%;
    border-radius: 20px;
    display:flex;
    justify-content: start;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    box-shadow: 0.5px 0.5px 0.4em rgb(192, 192, 192);
}


#searchicon{
    height: 50%;
    margin-left: 10px;
}

#searchbar{
    width: 89%;
    height: 80%;
    border: none;
}

#searchbar:focus{
    outline: none;
}

.buttonsection{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buttonclass{
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    background-color: rgb(241, 241, 241);
    border-radius: 4px;
    border-style: none;
    margin-bottom: 50px;
    color: rgb(53, 53, 53);
    font-size: 0.8rem;
}

#button1:hover{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
}


.footersection1{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 40px;
    background-color: rgb(241, 241, 241);
    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(88, 88, 88);
    font-size: 0.8rem;
    color: rgb(53, 53, 53);
    display:flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}

.footersection2{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0px;
    background-color:rgb(241, 241, 241);
    font-size: 0.8rem;
    color: rgb(241, 241, 241);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footerlinks{
    font-size: 0.8rem;
    color: rgb(53, 53, 53);
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.footerlinks:hover{
    text-decoration: underline;
}

#footerlink4pic{
    height: 10px;
    width: 10px;
    margin-right: 3px;
}

#footerlink4{
    margin: 0 30px 0 30px;
}